* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #031140;
}

body {
  width: 70%;
  margin: auto;
  background: url("./Images/background.jpg") no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  margin: 20px 0 40px;
  font-size: 5em;
}

h2 {
  font-size: 1.95em;
}

.flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  border: 4px solid #031140;
  border-radius: 0.6rem;
  padding: 50px 0;
}

.list-scores {
  background-image: url("./Images/score2.jpg");
  background-size: cover;
  box-shadow: -10px -10px 20px #f7d0e3, 10px 10px 20px #f7a6cd;
  height: 350px;
  width: 350px;
  border-radius: 0.6rem;
  padding-top: 20px;
  overflow: scroll;
}

.recent-scores h2 {
  display: inline-block;
  margin-bottom: 20px;
}

.list-item {
  list-style-type: none;
  padding: 3px 5px;
  height: 30px;
  border-radius: 1rem;
  border: 1px solid #020f43;
  background-color: white;
  margin: 20px 30px;
  background-image: linear-gradient(#603bf1, #7f0e96);
}

.user,
.scores {
  display: inline-block;
  font-weight: bolder;
}

.user {
  width: 60%;
  margin-left: 20px;
}

.scores {
  width: 30%;
}

.form {
  border-radius: 0.6rem;
  background-image: url("./Images/score1.jpg");
  background-size: cover;
  box-shadow: -10px -10px 20px #8ba8d7, 10px 10px 20px #8ba8d7;
  height: 200px;
  width: 280px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8%;
}

.add-score h2 {
  margin-bottom: 20px;
}

.name,
.score {
  padding-left: 5px;
  height: 30px;
  border-radius: 0.25rem;
  border-color: #020f43;
  outline: none;
  background-color: white;
}

.submit,
.refresh {
  padding: 3px 12px;
  background-image: linear-gradient(#126b81, #1b9bbb);
  border-color: #126b81;
  border-width: 3px;
  color: #020f43;
  font-size: larger;
  border-radius: 0.3rem;
}

.submit:hover,
.refresh:hover {
  background-image: linear-gradient(#095f77, #115263);
}

.message,
.error-message,
.success-message {
  color: #4d023c;
  font-size: medium;
  font-weight: 600;
  align-self: center;
  border: 1px solid #9e1781;
  background-color: white;
  padding: 3px 5px;
  border-radius: 0.25rem;
}

@media screen and (max-width: 930px) {
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  h1 {
    font-size: 250%;
  }
}

@media screen and (max-width: 560px) {
  .flex {
    border: none;
  }
}
